POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=searchEngine

API_ADDR=:8080
API_READ_TIMEOUT=5s
API_WRITE_TIMEOUT=10s

API_SEARCH_LIMIT_DEFAULT=10
API_SEARCH_LIMIT_MAX=50

DATABASE_DSN=postgres://user:password@localhost:5432/searchEngine?sslmode=disable
DATABASE_PING_TIMEOUT=2s
DATABASE_FAIL_FAST=false
DATABASE_MAX_IDLE_CONNS=10
DATABASE_MAX_OPEN_CONNS=10
DATABASE_CONN_MAX_LIFETIME=30m
DATABASE_CONN_MAX_IDLE_TIME=5m

CRAWLER_SEED_FILE_PATH=./cmd/crawler/seeds.txt
CRAWLER_RUN_TIMEOUT=60m
CRAWLER_READ_TIMEOUT=60s
CRAWLER_USER_AGENT=Dercraker SearchEngineBot/0.1 (+https://github.com/Dercraker/SearchEngine)
CRAWLER_MAX_BODY_BYTES=2097152
CRAWLER_MAX_REDIRECT=5
CRAWLER_LIMIT_MAX_PAGES_PER_RUN=200
CRAWLER_LIMIT_BATCH_SIZE=10
CRAWLER_LIMIT_STALE_TIME=60m
CRAWLER_LIMIT_GLOBAL_DELAY=200ms
CRAWLER_LIMIT_GLOBAL_JITTER=100ms
CRAWLER_LIMIT_HOST_DELAY=200ms
CRAWLER_LIMIT_JITTER=250ms
CRAWLER_LIMIT_MAX_HOST=50

CRAWLER_INSTANCE_ID=LOCAL
CRAWLER_WORKERS=5